<div class="container">
  <div class="row">
    
        <p>
          <%= @task.status %> |
          <%= @task.priority %>
          <%= @task.name %> |
           <%= @task.deadline %>|
           <%= link_to 'Back', @task.project %> 

        </p>
     
      
  </div>
</div>